.all-games-videos {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  list-style-type: none;
  padding-left: 0px;
  justify-content: space-around;
  overflow: auto;
}

.all-games-videos::-webkit-scrollbar {
  background: #0f0f0f;
  width: 10px;
}

.all-games-videos::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 10px;
  border: 1px solid #181818;
}
