.profile-image {
  width: 40px;
  height: 40px;
}

.profile-title {
  font-size: 15px;
  color: #ffffff;
  margin-left: 8px;

  margin-top: 0px;
}
.video-image {
  width: 300px;
  margin-bottom: 8px;
}
.profile-container {
  display: flex;
  align-items: top;
}
.video-item {
  width: 300px;

  margin-bottom: 17px;
}

.profile-details p {
  color: #7e858e;
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
  margin-top: 0px;
}
.video-desc-title {
  color: #ffffff;
  margin-left: 8px;
  margin-top: 0px;
}
.linked {
  text-decoration: none;
}
.profile-details {
}
